
							body {font-family: "Lato", sans-serif; color: black;}


							/* Style the links inside the list items */
							ul.nav li a {
							    display: inline-block;
							    color: black;
							    text-align: center;
							    padding: 7px 8px;
							    text-decoration: none;
							    transition: 0.3s;
							    font-size: 14px;
							}

							/* Change background color of links on hover */
							ul.nav li a:hover {
							    background-color: #E3DD02;
							}

							/* Create an active/current tablink class */
							ul.nav li a:focus, .active {
								color: black;
							    background-color: #FFF;
							}

							/* Style the tab content */
							.tabcontent {
							    display: none;
							    padding: 6px 12px;
							    -webkit-animation: fadeEffect 1s;
							    animation: fadeEffect 1s;
							    color: black;
							}

							.tab-content a img{
								height: 80px;
								width: 100px;
								/*padding: 20px 30px;*/
								margin: 20px 25px;
							}

							.tab-content a:hover{
								background-color: red;
							}
							.colors p{
								color: #F17E0A;
							}
							.c{
								background-color: black;
							}

							@-webkit-keyframes fadeEffect {
							    from {opacity: 0;}
							    to {opacity: 1;}
							}

							@keyframes fadeEffect {
							    from {opacity: 0;}
							    to {opacity: 1;}
							}


							input[type=text] {
								    width: 100%;
								    padding: 12px 12px;
								    margin: 4px 0;
								    box-sizing: border-box;
								    border: none;
								    background-color: #3CBC8D;
								    color: white;
								}
							
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}




/* Circle */
.hover15 figure {
	position: relative;
}
.hover15 figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover15 figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}


/* Zoom Out #1 */
.hover03 a img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover03 a:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
	z-index: 900;
}

/* Zoom Out #2 */
.hover04 figure img {
	width: 400px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover04 figure:hover img {
	width: 300px;
}


/* Zoom In #1 */
.hover01 a img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 a:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	display: block;
}

/* Zoom In #2 */
.hover02 a img {
	width: auto;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 a:hover img {
	width: auto;
}



/* Zoom Out #1 */
.hover13 a img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover13 a:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

p{
	color: black;
}

.imgs{

	max-height: 100px;
}
.textdec ul li a{

	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	color: #312F3D;

}

.textdec ul li{

	padding: 0 10px 0 10px;

}

.imag img{

	padding: 12px;
}

.container h3, p{

	color: #666666;
}
.colors ul li a{

	text-align: left;
	font-size: 12px;
	color: #312F3D;
	padding-bottom: 10px;

}
.h5css h5, h6{

	color: black;
	/*padding-left: 17px;*/
}
.h5css span{
	margin-top: -10px;
	color: black;
}


.imgss a img{

	height: 230px;
	width: 190px;
	
	/*/*padding: 10px 10px 10px 10px;*/
}


.imgss a{

	text-decoration: none;
}


/*animation (start)*/

/*animation*/
						